<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Grocery Store Database System</h1>
<p>Group 4 Database Project</p>

<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('inventory') }}">Inventory</a>
    <a href="{{ url_for('orders') }}">Orders</a>
    <a href="{{ url_for('products') }}">Products</a>
    <a href="{{ url_for('order_items') }}">Order Items</a>
</nav>

<hr>

<h2>Welcome</h2>
<p>This is the Grocery Store Database System homepage. <br>Plan to do some querying here.</p>

<div class="queryButtons">
    <a href="{{ url_for('index', view='orders') }}">Most Expensive Orders</a> |
    <a href="{{ url_for('index', view='customer_spending') }}">Customer Overview</a> |
    <a href="{{ url_for('index', view='low_stock') }}">Low Stock</a> |
    <a href="{{ url_for('index', view='expensive_products') }}">Expensive Products</a>
    <a href="{{ url_for('index', view='most_popular_product') }}">Most Popular Products</a>
</div>

<hr>

<h2>Data Overview</h2>

{% if view == 'orders' %}
    <h3>Top 10 Most Expensive Orders</h3>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Total</th>
            <th>Created At</th>
        </tr>
        {% for order in data %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer_name }}</td>
            <td>${{ order.total }}</td>
            <td>{{ order.created_at }}</td>
        </tr>
        {% endfor %}
    </table>

{% elif view == 'customer_spending' %}
    <h3>Top Customers Overview</h3>
    <table border="1">
        <tr>
            <tH>Customer ID</tH>
            <th>Name</th>
            <th>Total Orders</th>
            <th>Total Spending</th>
            <th>Account Created</th>
        </tr>
        {% for c in data %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.total_orders }}</td>
            <td>${{ c.total_spending }}</td>
            <td>{{ c.created_at }}</td>
        </tr>
        {% endfor %}
    </table>

{% elif view == 'low_stock' %}
    <h3>Low Stock Items</h3>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Stock Level</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.product_id }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.stock_level }}</td>
        </tr>
        {% endfor %}
    </table>
{% elif view == 'expensive_products' %}
    <h3>Expensive Items</h3>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>${{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>

{% elif view == 'most_popular_product' %}
    <h3>MOST Popular Products</h3>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Amount in carts</th>
            <th># OF Orders containing product</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.product_id }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.amount_in_carts }}</td>
            <td>{{ item.orders_contained }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>