<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('inventory') }}">Inventory</a>
    <a href="{{ url_for('orders') }}">Orders</a>
    <a href="{{ url_for('products') }}">Products</a>
    <a href="{{ url_for('order_items') }}">Order Items</a>
    <a href="{{ url_for('tracking') }}">Tracking</a>
</nav>

<h1>Update Tracking</h1>
<form method="POST">
    Order ID: <input type="text" name="order_id">
    status: <input type="text" name="status">
    <button type="submit">Add</button>
</form>

<h1>Tracking</h1>

<table border="1">
<tr>
    <th>Tracking ID</th>
    <th>Order ID</th>
    <th>status</th>
    <th>Last Updated</th>
</tr>

{% for t in tracking %}
<tr>
    <td>{{ t.id }}</td>
    <td>{{ t.order_id}}</td>
    <td>{{ t.status }}</td>
    <td>{{ t.last_updated }}</td>
</tr>
{% endfor %}

</table>